<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <meta charset="UTF-8" />
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <header>
        <h1>Perfil do Usuário</h1>
      </header>

      <!-- Seção de chat -->
      <section class="chat-section">
        <h2>Health.io - Self check-in</h2>

        <div class="chat-container">
          <div class="chat-box" id="chat-box">
            <div class="message received">Olá! Como posso te ajudar hoje?</div>
          </div>
          <div class="input-box">
            <input type="text" id="user-input" placeholder="Digite sua mensagem..." />
            <button onclick="sendMessage()">Enviar</button>
          </div>
        </div>
      </section>

      <!-- Seção de Mapa -->
      <section class="mapa-unidades">
        <h2>Unidades de Pronto Atendimento Próximas:</h2>
        <div id="map"></div>
      </section>
    </main>
    <!-- Rodapé -->
    <footer>
      <p>&copy; 2025 - Health.io</p>
    </footer>

    <script src="/js/chat.js"></script>
    <!-- Incluindo o JavaScript do Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </body>
</html>
